    td {
      word-break: break-all;
    }
    
    .tongji {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
      color: #fff;
    }
    
    .tongji-item {
      position: relative;
      height: 120px;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    
    .tongji-content {
      display: flex;
      flex-direction: column;
    }
    
    .tongji>div:nth-child(1) .tongji-item {
      background-color: #5fb340;
    }
    
    .tongji>div:nth-child(2) .tongji-item {
      background-color: #e13b3b;
    }
    
    .tongji>div:nth-child(3) .tongji-item {
      background-color: #f58a16;
    }
    
    .tongji>div:nth-child(4) .tongji-item {
      background-color: #417ead;
    }
    
    .tongji b {
      font-size: 18px;
    }
    
    .tongji span {
      font-size: 18px;
    }
    
    .tongji img {
      margin-right: 12px;
    }
    
    .table-wrap {
      margin: 0 auto;
      margin-top: 33px;
      margin-bottom: 58px;
      color: #164E89;
      background: #f7f7f7;
      font-size: 18px;
    }
    
    .table-title {
      height: 52px;
      display: flex;
      align-items: center;
      color: #13484E;
      font-size: 16px;
      background-color: #fdfdfd;
      margin: 0;
    }
    
    .table-title>li:last-child {
      border: 0;
    }
    
    .table-title>li {
      position: relative;
      height: 100%;
      width: 192px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e5e5e5;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }
    
    .table-title>li img {
      margin-right: 5px;
    }
    
    .triangle {
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom: 6px solid #dae3e4;
      position: absolute;
      bottom: 0;
      left: 96px;
      display: none;
    }
    
    .table-title img {
      display: none;
    }
    
    .table-title img[data-active=false] {
      display: inline-block;
    }
    
    .active {
      background-color: #27727b;
      color: #fff;
    }
    
    .active .triangle {
      display: block;
    }
    
    .active img[data-active=true] {
      display: inline-block;
    }
    
    .active img[data-active=false] {
      display: none;
    }
    
    .table-wrap tr {
      height: 35px;
      text-align: center;
      font-size: 14px;
    }
    
    .table-wrap>.table-bordered>thead>tr>th {
      vertical-align: middle;
      text-align: center;
      background-color: #DAE3E4;
      color: #13484E;
      cursor: pointer;
    }
    
    .table-wrap>.table-bordered>thead>tr>th>img {
      margin-left: 8px;
    }
    
    .table-wrap>.table-bordered>tbody>tr>td {
      vertical-align: middle;
      color: #333333;
    }
    
    .table-wrap tr:nth-of-type(odd) {
      background-color: #FFFFFF;
    }
    
    .table-wrap tr:nth-of-type(even) {
      background-color: #F5F5F5;
    }
    
    .row>div {
      padding-left: 8px;
      padding-right: 8px;
    }
    
    th[data-sort] {
      cursor: pointer;
    }
    
    th[data-sort] {
      cursor: pointer;
    }