/* 删除表格单元格之间的间距。 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.list {
	border:1px #E5E5E5 solid;

}
table.list thead {
	background:#F1F4F0;
}
table.list thead td {
	text-align:center;
	font-weight:bold;
	color:#464E46;
	line-height:43px;
	border-bottom:1px #E5E5E5 solid;
}
table.list tbody td {
	padding:16px;
	color:#333333;
	border-bottom:1px #e5e5e5 solid;
}
table.list tbody tr {

}
table.list tbody tr:hover{
	background-color:#f9f9f9;
}